<section class="section contacts" id="contacts">
  <div class="container">
    <h2 class="heading">CONTACTS</h2>
    <p><%= auto_link(simple_format(@contact_info.try(:body1))) %></p>
    <div class="row google-map">
      <div class="map-canvas"></div>
    </div>
    <div class="row contact-address">
      <div class="col-md-6">
        <div class="contact-form-wrapper margin-bottom">
          <%= form_for @contact, as: @contact, url: contact_path(@contact), html: { id: 'contact-form', class: 'form-horizontal contact-form' } do |f| %>
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <%= f.text_field :name, :placeholder => "Name*", :id => "contact-name", :class => 'form-control', :required => "required" %>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <%= f.email_field :email, :placeholder => "Email*", :id => "contact-email", :class => 'form-control', :'data-parsley-trigger' => "focusin focusout", :required => "required" %>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-12">
                <%= f.text_field :subject, :placeholder => "Subject", :id => "contact-subject", :class => 'form-control' %>
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-12">
                <%= f.text_area :message, :placeholder => "Message*", :id => "contact-message", :required => "required", :class => 'form-control', :row => "5" %>
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-12">
                <%= f.button "Submit Message", :class => "btn btn-primary", :id => "submit-button" %>
              </div>
            </div>
            <%= f.hidden_field "msg-submitted", :id => "msg-submitted", :value => "true" %>
          <% end %>
        </div>
      </div>

      <div class="col-md-6">
        <p><%= auto_link(simple_format(@contact_info.try(:body2))) %></p>
        <div class="address-lines">
          <%= auto_link(simple_format(@contact_info.try(:body3))) %>
        </div>
      </div>
    </div>
  </div>	
</section>