<section class="section contacts" id="contacts">
  <div class="container">
    <h2 class="heading">CONTACTS</h2>
    <p><%= auto_link(simple_format(@contact_info.try(:body1))) %></p>
    <div class="row google-map">
      <div class="map-canvas"></div>
    </div>
    <div class="row contact-address">
      <div class="col-md-6">
        <div class="contact-form margin-bottom">
          <div class="alert"></div>
          <%= form_for @contact, as: @contact, url: contact_path(@contact), html: { id: 'new_contact' } do |f| %>
            <%= f.text_field :name, :placeholder => "your name*", :id => "name", :required => "required", :"data-val" => "true", :"data-placement" => "bottom" %>
            <%= f.email_field :email, :placeholder => "email address*", :id => "email", :required => "required", :"data-rule-email" => "true", :"data-val" => "true", :"data-placement" => "bottom" %>
            <%= f.text_field :subject, :placeholder => "please provide the subject", :id => "subject" %>
            <%= f.text_area :message, :placeholder => "your message here*", :id => "subject", :required => "required", :"data-val" => "true", :"data-placement" => "bottom" %>
            <%= f.button "Submit", :class => "btn btn-primary btn-lg", :id => "submit-button", :"data-disable-with" => "Submitting..." %>
            <%= f.hidden_field "msg-submitted", :id => "msg-submitted", :value => "true" %>
          <% end %>
        </div>
      </div>

      <div class="col-md-6">
        <p><%= auto_link(simple_format(@contact_info.try(:body2))) %></p>
        <div class="address-lines">
          <%= auto_link(simple_format(@contact_info.try(:body3))) %>
        </div>
      </div>
    </div>
  </div>	
</section>