<div class="page-header">
  <h1>Contact</h1>
</div>
<table class="table table-bordered table-striped table-hover table-condensed">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Subject</th>
      <th>Message</th>
      <th>Created At</th>
      <th>Updated At</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @contacts.each do |contact| %>
      <tr>
        <td><%= contact.name %></td>
        <td><%= contact.email %></td>
        <td><%= contact.subject %></td>
        <td><%= simple_format contact.message.html_safe %></td>
        <td><%=l contact.created_at %></td>
        <td><%=l contact.updated_at %></td>
        <td>
          <%= link_to admin_contact_path(contact), :class => "btn btn-info" do %>
            R
          <% end %>
          <%= link_to admin_contact_path(contact), method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger" do %>
            D
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @contacts, renderer: BootstrapPagination::Rails %>